body {
  background-color: #CCCCCC;
}

div.contents {
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 10px;
  padding: 12px;
  margin-left: auto;
  margin-right: auto;
  width: 960px;
  background-color: white;
  border-bottom-right-radius:8px;
  border-bottom-left-radius:8px; 
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
  /* firefox specific markup */
  -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
  /* webkit specific markup */
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
}

div.header
{
  background-image:url('nav_h.png');
  background-repeat:repeat-x;
  background-color: #FAFAFA;
  border-bottom: 1px solid #D5D5D5;
  margin-left: auto;
  margin-right: auto;
  width: 960px;
  padding-left: 12px;
  padding-right: 12px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
  /* firefox specific markup */
  -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
  /* webkit specific markup */
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
}

div.headertitle {
  padding-left: 0px;
  font-size: 150%;
}

table.pageheader {
/*  background-color: #2C4AA8; */
  background-color: #999999;
}

#top {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  /* firefox specific markup */
  -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  /* webkit specific markup */
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

div.ui-resizable-e {
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.3);
  /* firefox specific markup */
  -moz-box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.3);
  /* webkit specific markup */
  -webkit-box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.3);
}

body, table, div, p, dl {
  font-family: Lucida Grande, Verdana, Geneva, Arial, sans-serif;
  font-size: 10pt;
  line-height: 17pt;
}

SPAN.dlink { text-decoration: underline; color: #0000FF; cursor: pointer; }
DIV.dlinfo { padding: 5px; margin-top: 10px; margin-bottom: 5px; background-color: #244fa7; color: #fff; }
DIV.dl { margin-left: 20px; }

h1 { font-size: 150%; }
h2 { font-size: 135%; }
h3 { font-size: 120%; }

a, a.el, a.elRef, a.el:visited, a.elRef:visited {
  color: #0050A0;
}

.contents a:visited {
  color: #0050A0;
}

body {
  background-image:url('background.png');
  background-repeat:repeat;
}



